IMAGE_TAG=v4.5.2
AUTH_TYPE=basic
USER_AUTH_SECRET={{USER_AUTH_SECRET}}
POSTGRES_USER=knowledge_hub
POSTGRES_PASSWORD={{POSTGRES_PASSWORD}}
OPENSEARCH_ADMIN_PASSWORD={{OPENSEARCH_ADMIN_PASSWORD}}
FILE_STORE_BACKEND=postgres
COMPOSE_PROFILES=
ENABLE_PAID_ENTERPRISE_EDITION_FEATURES=false
ENABLE_CRAFT=false
DISABLE_TELEMETRY=true
WEB_DOMAIN=http://127.0.0.1:3000
HOST_PORT=127.0.0.1:3000
HOST_PORT_80=127.0.0.1:3080
NGINX_PROXY_CONNECT_TIMEOUT=300
NGINX_PROXY_SEND_TIMEOUT=300
NGINX_PROXY_READ_TIMEOUT=300
MCP_SERVER_ENABLED=false
