use_default_settings: true

general:
  debug: false
  instance_name: "Local Knowledge Hub Search"

search:
  safe_search: 1
  autocomplete: ""
  formats:
    - html
    - json

server:
  bind_address: "0.0.0.0"
  port: 8080
  secret_key: "{{SEARXNG_SECRET_KEY}}"
  limiter: false
  image_proxy: false

outgoing:
  request_timeout: 6.0
  max_request_timeout: 12.0

engines:
  - name: bing
    disabled: true
  - name: google
    disabled: false
  - name: stract
    disabled: false
  - name: yep
    disabled: true
  - name: baidu
    disabled: true
  - name: sogou
    disabled: true
  - name: brave
    disabled: true
  - name: duckduckgo
    disabled: false
  - name: yandex
    disabled: false
  - name: google cse
    disabled: true
  - name: startpage
    disabled: true
